[submodule "tests/integration/resources/griptape-nodes-library-testing"]
	path = tests/integration/resources/griptape-nodes-library-testing
	url = https://github.com/griptape-ai/griptape-nodes-library-testing.git
